# Ambiente Virtual
.venv/
venv/
env/
ENV/

# Banco de Dados
db.sqlite3
db.sqlite3-journal

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
*.log
/media
/staticfiles
local_settings.py

# Variáveis de Ambiente
.env
.env.local

# IDEs
.vscode/
.idea/
.DS_Store

# Coverage/Tests
.coverage
htmlcov/
.pytest_cache/
__pycache__/
*.log
.env

# Páginas Web para testes
web_pages
